[user]
	name = Jim Gumbley 
	email = j.gumbley@gmail.com 
[pager]
	diff =
[color]
	ui = auto
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
	ch = checkout -
    la = log --oneline --decorate --graph --all
[core]
	excludesfile = ~/.gitignore
