[user]
	name = Jim Gumbley
	email = jgumbley@thoughtworks.com
[pager]
	diff =
[color]
	ui = auto
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
	ch = checkout -
    la = log --oneline --decorate --graph --all
[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
host = github.gds
[http]
	sslVerify = true
[push]
	default = matching
