[user]
	name = Magnus Ernstsson
	email = magnus@ernstsson.net
[pager]
	diff =
[color]
	ui = auto
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
	ch = checkout -
[core]
	excludesfile = ~/.gitignore
